/* NOTE - use CSS stuff here to clear the CSS browser settings, set things up cleanly for our project*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* DISCARD THE ABOVE AND USE THIS: https://github.com/shannonmoeller/reset-css*/
/* =======================     */

/*should be rocking box-sizing: border-box; - otherwise any padding or border on that container and it would be wider than 100% and that's the worst.*/
*, *:before, *:after  {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Other CSS */
body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}

main {
  margin-top: 70px;
}

h1 {
  font-size: 2em;
  padding: 10px;
}



.navbar {
  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 50px;
  /*background-color: #4285f4;*/
  background-color: #3367d6;
  color: white;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  z-index: 999;
  padding: 0px 30px 0px 30px;
  align-items: center;
  width: 100%;
}

.navbar .brand {
  font-size: 1.8em;
  color: white;
}

.navbar .nav-links {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 0.95em;
  margin-right: 250px;
}

.main-container {
/*  display: flex;
  justify-content: center;*/
   display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   flex-direction: row;
   /*flex-wrap: wrap;*/
   /* Or do it all in one line with flex flow */
   /*flex-flow: row wrap;*/
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   align-content: flex-end;


}

.case-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-description {
    display: flex;
    align-items: center;
    /*text-align: center;*/
    margin: 10px 250px 25px 250px;
    line-height: 1.5em;
}

.header {
  font-weight: 800;
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8 {
  display: flex;
  justify-content: space-between;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  min-width: 130px;
  min-height: 45px;
  padding: 10px;
  margin: 1px;
  background-color: #dbe8ff;
  border: 1px solid #A7BFE8;
  color: #353535;
  text-align: center;
  line-height: 1.6em;
  /*box-shadow: 2px 2px 7px rgba(0,0,0,.4)*/
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.header1, .header2, .header3, .header4, .header5, .header6 {
  min-width: 130px;
  padding: 10px;
  margin: 1px;
  background-color: #4285f4;
  border: 1px solid #3D75D1;
  color: white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.header-objectives {
  min-width: 130px;
  min-height: 30px;
  padding: 10px;
  margin: 1px;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.header-units {
  min-width: 60px;
  min-height: 30px;
  padding: 10px;
  margin: 1px;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.header {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.sub-objective-name {
  margin-left: 10px;
}

.highlight {
  background-color: #bbb;
  z-index: 99;
  border: 1px solid #999;
}

.units {
  text-align: center;
  min-width: 60px;
  min-height: 45px;
  line-height: 2em;
  margin: 1px;
  padding: 5px;
  /*background-color: lightblue;*/
  color: black;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.objective-name-container {
  min-width: 130px;
  min-height: 45px;
  margin: 1px;
  padding: 5px;
  /*background-color: lightblue;*/
  color: black;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.search-area {
  width: 250px;
  height: 35px;
  padding: 5px;
  /*border: 1px solid darkgrey;*/
  border-radius: 4px;
  background-color: #4285f4;
  text-align: center;
  line-height: 1.8em;
  margin-left: 20px;
}

.table-area {
}

.objective-description-area {
}

.hide-button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #999;
}

.selected {
  background: darkgrey;
}

.alt-image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.alt-image-1, .alt-image-2, .alt-image-3, .alt-image-4, .alt-image-5, .alt-image-6{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #999;
}
