.better {
  background: #CEF1D7;
  color:#1d781d;
  font-weight: 600;
}

.highlight {
  border: 1px solid #999;
  background: #7D8089;
  //  background-color: #B4B4B4;
  font-weight: italic bold;
  color:#EAD575;
  z-index: 99;
 }
 
.worse {
  background: #FFC8CE;
  color:#AC2117;
  font-weight: 580;
}

