
.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin-top: 500px;
  position: relative;
  margin: 70px auto;
}


.close-button {

  float: right;

}