
.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin-top: 500px;
  position: relative;
  margin: 70px auto;
}


.close-button {

  float: right;

}

[type="button"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  cursor: pointer !important;
}

.form-button-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}