/* NOTE - using'normalize.min.css' in index.html to do a CSS reset

/*should be rocking box-sizing: border-box; - otherwise any padding or border on that container and it would be wider than 100% and that's the worst.*/

$cell-width: 120px;
$cell-height: 45px;
$header-obj-width: 130px;
$header-units-width: 60px;
$cell-margin: 1px;
$num-alts: 6;
$circle-diameter: 80px;
$hide-button-diameter: 15px;

*, *:before, *:after  {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Other CSS */
body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}

main {
  margin-top: 65px;
}

h1 {
  font-size: 2em;
  padding: 5px;
  margin: 5px;
}

p {
  margin: 5px;
}

.alt-image-container {
  display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;

  align-items: center;
  margin-left: $header-units-width + $header-obj-width + (2 * $num-alts * $cell-margin);
  margin-bottom: 5px;
}

.alt-image-1, .alt-image-2, .alt-image-3, .alt-image-4, .alt-image-5, .alt-image-6{

  border-radius: 50%;
  width: $circle-diameter;
  height: $circle-diameter;
  border: 2px solid #999;
  margin-left: ($cell-width - $circle-diameter)/2;
  margin-right: ($cell-width - $circle-diameter)/2;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  min-width: $cell-width;
  min-height: $cell-height;
  padding: 10px;
  margin: $cell-margin;
  background-color: #dbe8ff;
  border: 1px solid #A7BFE8;
  color: #353535;
  text-align: center;
  line-height: 1.6em;
  /*box-shadow: 2px 2px 7px rgba(0,0,0,.4)*/
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.case-description {
  display: flex;
  align-items: center;
  /*text-align: center;*/
  margin: 0px 250px 8px 250px;
  line-height: 1.5em;
}

.case-title {
    display: flex;
    // align-items: center;
    justify-content: center;
}

.header {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  // min-width: 100px;
}

.header1, .header2, .header3, .header4, .header5, .header6 {
  min-width: $cell-width;
  padding: 10px;
  margin: 1px;
  background-color: #4285f4;
  border: 1px solid #3D75D1;
  color: white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.header-objectives {
  min-width: $header-obj-width;
  min-height: 30px;
  padding: 10px;
  margin: 1px;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.header-units {
  min-width: $header-units-width;
  min-height: 30px;
  padding: 10px;
  margin: 1px;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.hide-button {
  border-radius: 50%;
  width: $hide-button-diameter;
  height: $hide-button-diameter;
  border: 2px solid #999;
  margin-top: ($cell-height - $hide-button-diameter)/2;
  margin-bottom: ($cell-height - $hide-button-diameter)/2;
}

.hide-button-spacer {
  width: $cell-height;
  height: $cell-height;
  background-color: lightgrey;
}

.hide-buttons-rows {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight {
  // background-color: #bbb;
  background-color: #fcff82;
  z-index: 99;
  border: 1px solid #999;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 50px;
  /*background-color: #4285f4;*/
  background-color: #3367d6;
  color: white;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  z-index: 999;
  padding: 0px 30px 0px 30px;
  align-items: center;
  width: 100%;

  font-weight: 200;
}

.navbar .brand {
  font-size: 1.8em;
  color: white;
}

.navbar .nav-links {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 0.95em;
  margin-right: 250px;

}

.objective-name-container {
  min-width: 130px;
  min-height: $cell-height;
  margin: 1px;
  padding: 5px;
  /*background-color: lightblue;*/
  color: black;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8 {
  display: flex;
  justify-content: space-between;
}

.search-area {
  width: 250px;
  height: 35px;
  padding: 5px;
  /*border: 1px solid darkgrey;*/
  border-radius: 4px;
  background-color: #4285f4;
  text-align: center;
  line-height: 1.8em;
  margin-left: 20px;
}

.selected {
  background: darkgrey;
}

.sub-objective-name {
  margin-left: 10px;
}

.table-container {
  display: flex;
  align-items: center;
}


.units {
  text-align: center;
  min-width: 60px;
  min-height: $cell-height;
  line-height: 2em;
  margin: 1px;
  padding: 5px;
  /*background-color: lightblue;*/
  color: black;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.worse {
  background: red;
}

.better {
  background: green;
}




// TEST
.dropbtn {
    background-color: #3367d6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4285f4;
}



