
.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.table-container {

  min-width: $cell-width;
  min-height: $cell-height;
  font-family: "Lucida Grande";
  align-items: center;
  display: flex;
}


//  FIX CONFLICTS HERE
.table-area .header label:hover{
  cursor: pointer;
  color: #EAD575;
  transition-property: transform, color;
  transition-duration: 0.8s;
}

.header-alternatives-container {
  font-weight: 600;
  font-kerning: auto;
  display: flex;
  justify-content: space-between;
}

.header-alternatives {
  min-width: $cell-width;
  min-height: $cell-height;
  margin: 1px;
  border: 1px solid #3D75D1;
  border-radius: 3px;
  background-color: #3165AE;
  font-family: "Lucida Grande";
  color: #E2E7ED;
  font-size: 1.4em;
  line-height: 3.7em;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}


// .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8 {
.objective-description, .objective-row {
  min-width: $cell-width;
  min-height: $cell-height;
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  min-width: $cell-width;
  min-height: $cell-height;
  margin: $cell-margin;
  background-color: #dbe8ff;
  border: 1px solid #A7BFE8;
  border-radius: 3px;
  color: #353535;
  text-align: center;
  line-height: 3em;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.highlight {
  border: 1px solid #999;
  background: #7D8089;
  font-weight: italic bold;
  color:#EAD575;
  // z-index: 99;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
 }

.better {
  background: #CEF1D7;
  color:#1d781d;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

}

.worse {
  background: #FFC8CE;
  color:#AC2117;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.table-area input {
  background-color: transparent;
  text-align: center;
  height: 40px;
  width: 5em;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cell-enter {
  opacity: 0.01;
  color:purple;
}

.cell-enter.cell-enter-active {
  opacity: 1;
  color:purple;
  transition: opacity 500ms ease-in;
}

.cell-leave {
  color:purple;
  opacity: 1;
}

.cell-leave.cell-leave-active {
  color:purple;
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-6px);
}