.header {
  font-weight: 600;
  font-kerning: auto;
  display: flex;
  justify-content: space-between;
}

.header-objectives {
  min-height: $cell-height;
  padding: 10px;
  margin: 1px;
}

.header-units {
  min-height: $cell-height;
  padding: 10px;
  margin: 1px;
}

.objective-name-container{
  font-family: "Lucida Grande";
  color:black;
  color:#D9DDE5;
}

.sub-objective-name {
  font-size: 0.8em;
}

.units {
  min-width: 45px;
  font-family: "Lucida Grande";
  color:black;
  color: white;
  text-align: center;
  line-height: 3em;
  margin: 1px;
}