
.header {
  font-weight: 600;
  font-kerning: auto;
  display: flex;
  justify-content: space-between;
}



.objective-name-container{
  font-family: "Lucida Grande";
  color:#D9DDE5;
}
    .objective-name{
    }
    .sub-objective-name {
      font-size: 0.8em;
    }


.units {
  min-width: 45px;
  font-family: "Lucida Grande";
  color: white;
  text-align: center;
  line-height: 3em;
  margin: 1px;
}


.header-objectives {
  min-height: $cell-height;
  padding: 10px;
  margin: 1px;
}

.header-units {
  min-height: $cell-height;
  padding: 10px;
  margin: 1px;
}